



#root {
  max-width: 600px;
  min-height: 50vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #666a81ff;
  border-radius: 10px;
}
.container{
  width: 100%;
  margin: 0px;
  padding: 1px 1.2px;
  /* display: block; */
}
.image{
  display: flex;
  margin: 0 auto;
}
.description{
  list-style: none
}
.title{
  text-decoration: none;
}
.list{
  width: 100%;
  border: 1px solid red;
}